



/*
  ////////////////////////
 /////// OUR MENU ///////
////////////////////////
 */

.our-menu .description{
  text-align: center;
  margin-top: 4em;
}

.our-menu .description .global-headline{
  margin-top: 0;
}
