



/*
  ///////////////////////////
 //// RESERVATIONS HERO ////
///////////////////////////
 */


.hero.reservations-hero{

  height: 36em;

  h5{
    text-transform: initial;
    letter-spacing: initial;
  }
}