// VARIABLES

//clr
$main-clr: #515151;
$accent-clr: #c59d5f;
$secondary-clr: #252525;
$white-clr: #fff;

//font
$main-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Herr Von Muellerhoff', cursive;
$body-font: 'Cabin', sans-serif;

//spacers
$section-spacing: 2.5em 0;

//BREAK POINTS
$bp-1: 768px;
$bp-2: 900px;
$bp-3: 1000px; //contact page