.menu-about{
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    p{
      margin-top: 1em;
      text-align: left;
      @media (min-width: $bp-2){
        width: 45%;
      }
    }
  }
}
