



/*
  /////////////////////////
 //////// GENERAL ////////
/////////////////////////
 */

p{
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
}

p + p{
  margin-top: 1em;
}

.description p{
  margin-bottom:  1.5rem;
}

.global-headline{
  text-align: center;
  margin-top: 2.4rem;
  
  .asterisk{
    color: $main-clr;
    margin: 1.5rem 0;
    font-size: 0.9rem;
  }
  
  .sub-headline{
    letter-spacing: -1px;
    line-height: 2.6rem;
    font-family: $secondary-font;
    color: $accent-clr;
    font-size: 6rem;
    font-weight: 100;
    opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: .75s;
    
    &::first-letter{
      text-transform: uppercase;
    }
  }
  
  .headline{
    text-transform: uppercase;
    color: $secondary-clr;
    letter-spacing: 0.4rem;
    margin-left: 0.4rem;
    font-size: 2.5rem;
    font-weight: 600;
    opacity: 0;
    animation: scale .5s forwards;
    animation-delay: .5s;
  }
}

.between{
  min-height: 65vh;
  display: flex;
  align-items: center;
  
  .headline{
    color: $white-clr;
  }
}

.info .description{
  text-align: center;
  margin-bottom: 1.8rem;
}

/* MEDIA QUERIES */

@media(min-width: $bp-1){
  .info{
    display: flex;
    align-items: center;
  }

  p{
    margin: 0 auto;
  }

  .info > div{
    flex: 1;
  }

  .info > div + div{
    margin-left: 1.5em;
  }

  .info .image-group{
    grid-gap: 0.5em;
  }
}


.dining-crown,
.private-mezzanine{
  h5{
    font-size: 1rem;
    color: $main-clr;
    text-align: center;
    margin: 1.5em 0 3em;
  }
}

@media(min-width: $bp-1){
  .res-feature .container{
    display: flex;
    align-items: center;
    & > div:nth-of-type(2) {
      margin-left: 3em;
    }
    
    .info-description,
    .info-image{
      flex: 1;
    }
  }
}